{% extends 'base.html' %} {% block title %} Easy Feedback {% endblock %} {%
block content %}
<div class="bg-primary-subtle">
  <nav class="navbar navbar-expand-lg container">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"
        ><strong> [ E A S Y ] Feedback</strong></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          {% if 'user_id' in session %}
          <a class="nav-link" href="/logout">Logout</a>
          <a class="nav-link" href="/feedback">View feedback</a>
          {% else %}
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link" href="/register">Sign up</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</div>
<div class="container p-5">
  <h1 class="title text-center text-md-left">Welcome To Easy Feedback!</h1>
</div>

<div class="container p-5">
  <button class="btn btn-lg btn-outline-warning">
    <a class="text-light" href="/register">Start Here</a>
  </button>
  <button class="btn btn-lg btn-outline-warning">
    <a class="text-light" href="/feedback">View Feedback</a>
  </button>
</div>
<div class="container p-5">
  <p class="text-light">
    "Feedback is the compass that guides improvement. It serves as a powerful
    instrument, offering valuable insights and perspectives that illuminate the
    path towards progress. Whether it be in the context of personal growth,
    professional development, or the enhancement of products and services,
    feedback stands as an indispensable tool. Welcoming feedback fosters a
    culture of continuous learning, adaptability, and innovation. It is not
    merely a reflection of the present but a blueprint for a better future—a
    collaborative dialogue that transforms challenges into opportunities and
    paves the way for excellence."
  </p>
  {% if 'user_id' in session %}
  <p class="text-warning">Better feedback - better products</p>
  {% else %}
  <p><a href="/register" class="text-warning">Join Us On Easy Feedback!</a></p>
  {% endif %}
</div>
<div class="container p-5">
  <div class="rounded bg-black shape d-inline-block mx-2 my-3">
    <h1 class="text-light">Feedback</h1>
  </div>
  <div class="rounded bg-black shape d-inline-block mx-2 my-3">
    <h1 class="text-light">That</h1>
  </div>
  <div class="rounded bg-black shape d-inline-block mx-2 my-3">
    <h1 class="text-light">Shapes</h1>
  </div>
  <div class="rounded bg-black shape d-inline-block mx-2 my-3">
    <h1 class="text-light">Products</h1>
  </div>
</div>

{% endblock %}
