{% extends 'base.html' %} {% block title %} Easy Feedback {% endblock %} {%
block content %}
<div class="bg-primary-subtle">
  <nav class="navbar navbar-expand-lg container">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"
        ><strong> [ E A S Y ] Feedback</strong></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/logout">Logout</a>
          <a class="nav-link" href="/feedback">All feedback</a>
        </div>
      </div>
    </div>
  </nav>
</div>
<div class="container pt-5">
  <h1 class="title">Update</h1>
  <span class="p-1 text-light">Wanna update your feedback.</span>
</div>

<div class="container">
  <div class="p-3">
    <h5 class="text-light">Edit your feedback!</h5>
  </div>
  <div class="p-5 rounded bg-info-subtle">
    <form action="/feedback/{{feedcom.id}}/update" method="post">
      <p class="text-black">Editing feedback #{{ feedcom.id }}</p>
      {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
      'hidden' %}

      <span class="text-dark">{{ field.label }}</span>
      <p class="mt-1">
        {{ field(class_="form-control") }} {% for error in field.erros %}
        <span class="from-text text-danger">{{ error }} </span> {% endfor %}
      </p>
      {% endfor %}
      <button class="btn bg-warning text-dark" type="submit">
        Update feedback.
      </button>
    </form>
  </div>
  <div class="container rounded p-5 bg-info-subtle mt-5">
    <h1 class="text-dark">Explore all your feedback</h1>
    <p class="text-black">Viewing all feedback.</p>
    <div>
      {% for comment in feedback %} {% if comment.username ==
      session['username'] %}
      <div class="card m-1">
        <div class="card-body">
          <div class="p-3 pb-1">
            {{ comment.title }} -
            <span class="text-info"
              ><strong>{{ comment.user.username }}</strong></span
            >

            <form
              action="/feedback/{{ comment.id }}/edit"
              method="post"
              style="display: inline"
            >
              <div class="d-inline">
                <button
                  type="submit"
                  class="btn btn-sm btn-outline-primary sm-button"
                >
                  Edit
                </button>
              </div>
            </form>

            <form
              action="/feedback/{{ comment.id }}/delete"
              method="post"
              style="display: inline"
            >
              <div class="d-inline">
                <button
                  type="submit"
                  class="btn btn-sm btn-outline-danger sm-button"
                >
                  Delete
                </button>
              </div>
            </form>
          </div>
          <div class="rounded bg-warning-subtle p-3 m-1">
            {{ comment.content }}
          </div>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
